<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find spawn_model_gazebo)/launch/start_test_world.launch"></include>

    <include file="$(find spawn_model_gazebo)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="pillow" />
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="1.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find spawn_model_gazebo)/models/my_hexa/model.sdf" />
    </include>
</launch>
